.z-flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.z-justify {
  &-end {
    justify-content: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }

  &-center {
    align-items: center;
  }
}

.z-align {
  &-end {
    align-items: flex-end;
  }

  &-start {
    align-items: flex-start;
  }

  &-center {
    align-items: center;
  }
}

.z-flex-1 {
  flex: 1;
}

.z-flex-0 {
  flex: 0;
}
