@import "./styles/colors.scss";
@import "./styles/flex.scss";
@import "./styles/typography.scss";
@import "./styles/position.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Calculated with https://modern-fluid-typography.vercel.app */
  font-size: clamp(1rem, 2vw + 1rem, 2.25rem);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
  margin: 0;
}
